body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  font-size: 25px;
  font-weight: bold;
  width: 300px;
  height: 70px;
}
.outcome {
  font-size: 20px;
  font-weight: 600;
  align-self: flex-end;
  margin-right: 10%;
}
#calculator {
  display: flex;
  flex-direction: column;
}
#numbers {
  display: flex;
  flex-direction: column;
}

.digits {
  display: flex;
}
.side {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}
.item {
  flex: 2;
}
#zero {
  flex: 6;
}

button {
  font-size: 30px;
}

#ac {
  flex: 6;
}
#div,
#mul,
#sub,
#add,
#equal {
  flex: 1;
}
